/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 7, 2017, 11:09:08 AM
    Author     : masonrichardson
*/

.navbar-brand { 
    position: relative;
    z-index: 700;
    font-family: 'Earth Orbiter', 'DFP Sc Sans Heue30_103',"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 25px;
}


.transparent{
    background: transparent;
    border: 0;
}

#userDropdown{
    padding-top: 10px;
    padding-bottom: 0;
}


@font-face{
    font-family: 'Earth Orbiter';
    src: url('../fonts/earthorbiter.ttf');
}

.navbar-nav.navbar-right .btn { position: relative; z-index: 100; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 99; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 7px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: #FF5722;
    border-color: #FF5722;
    color: rgb(255, 255, 255);
    
}

.navbar-nav > li > .dropdown-menu {
    width: 170px;
}
.navbar-nav > li > .message-dropdown, .navbar-nav > li > .notification-dropdown {
    width: 340px;
}

#transparent-brand{
    color: white;
}
#transparent-brand:hover{
    color: #c2c2c2;
}

#signIn-button:hover{
    background: #c2c2c2;
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}

.hide{
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.show{
    -moz-opacity: 100;
    opacity: 100;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px;} 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
    
    .navbar-contents{
        width: 100%;
    }
    
}